<%- include("partials/header") %>
<section class="menu_section">
   <a class="menu_button" href="/city_input">Stad invoeren</a>
   <a class="menu_button" href="/results">Resultaten</a>
</section>
<%- include("partials/footer") %>
